html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #363636;
  color: #161616;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #161616;
}

button {
  cursor: pointer;
  border: none;
}

#root {
  max-width: 400px;
  margin: 0 auto;
}